<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Phoenix.radiobuggi"
    android:versionCode="7"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Themeradiobuggi" >
         <activity
            android:name="com.Phoenix.radiobuggi.Splash"
            android:label="@string/app_name" 
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.Phoenix.radiobuggi.RadioBuggi"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.Main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"></activity>
   
    </application>
<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
    
</manifest>
